name: ci

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.17'

      - name: install dependencies
        run: apt-get install -y libproj-dev libgeos-dev
            
      - name: unit-test
        run: go test -v ./...
